/********************************
    Education
*********************************/
.educations {
    position: relative;
    margin-bottom: rem-calc(30);
    h2 {
        @include set-font('Oswald');
        font-size: 300;
        color: #333333;
        font-style: normal;
        font-size: rem-calc(16);
    }
    h3 {
        @include set-font('Roboto Condensed');
        padding: 0; margin: 0;
        font-weight: 300;
        font-style: italic;
        font-size: rem-calc(14);
        color: #333333;
    }
    h4 {
        position: absolute;
        top: 0;
        right: 0;
        @include inline-block;
        margin: 0;
        background-color: #efefef;
        padding: rem-calc(8) rem-calc(10) rem-calc(7);
        @include set-font('PT Sans');
        font-size: rem-calc(11);
        text-transform: uppercase;
    }
}